{namespace s=Subugoe\Find\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<s:page.title>{document.fields.kloster} – {config.pageTitle}</s:page.title>
	<f:render partial="Page/Standard" arguments="{_all}"/>

	<f:render partial="GS/JavaScript" arguments="{id: document.id}"/>

	<f:render partial="Form/Form" arguments="{_all}"/>

	<f:render partial="Components/DetailResultPager" arguments="{_all}"/>

	<article class="detail">
		<f:render partial="GS/Karte" arguments="{_all}"/>

		<div class="main grid_11">

		<h1 class="">
			<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'kloster'}"/>
		</h1>


			<f:if condition="{document.patrozinium}">
				<section class="patrozinium">
					<h2 class="grid_3">Patrozinium</h2>
					<p class="grid_8">
						<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'patrozinium'}"/>
					</p>
				</section>
			</f:if>

			<f:render partial="GS/Standorte" arguments="{_all}"/>

			<f:render partial="GS/Orden" arguments="{_all}"/>

			<f:if condition="{document.bemerkung_kloster.0}">
				<section class="bemerkung">
					<h2 class="grid_3">Bemerkung</h2>
					<p class="grid_8">
						<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'bemerkung_kloster'}"/>
					</p>
				</section>
			</f:if>

			<f:render partial="GS/Band" arguments="{_all}"/>

			<section class="permalink">
				<h2 class="grid_3">Zitierlink</h2>
				<p class="grid_8">
					<f:link.external uri="{f:render(partial:'GS/Permalink', arguments:'{id:document.sql_uid}')}">
						{f:render(partial:'GS/Permalink', arguments:'{id:document.sql_uid}')}
					</f:link.external>
					<span class="fa fa-files-o" id="copy-button" data-clipboard-text="{f:render(partial:'GS/Permalink', arguments:'{id:document.sql_uid}')}" title="Klicken um den Zitierlink in die Zwischenablage zu kopieren"></span>
				</p>
			</section>

			<f:render partial="GS/Quelle" arguments="{_all}"/>

			<f:render partial="GS/Links" arguments="{_all}"/>

			<f:render partial="GS/Link/Wikipedia" arguments="{_all}"/>

			<f:render partial="Bib/Bibliography" arguments="{_all}"/>

			<f:render partial="GS/Personen" arguments="{_all}"/>
		</div>
	</article>
</f:section>