@import 'compass/css3/images';
@import '_Includes/Settings';
@import '_Includes/h5bp';
@import '_Includes/Base';
@import '_Includes/csc';
@import '_Includes/Breadcrumb';
@import '_Includes/Navigation';
@import '_Includes/Language';
@import '_Includes/_Extensions/WtDirectory';
@import '_Includes/_Extensions/Solr';
@import '_Includes/_Extensions/Pagebrowse';
@import '_Includes/_Extensions/DSpaceConnect';
@import '_Includes/_Extensions/News';
@import '_Includes/960';
@import '_Includes/Print';

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

.top-container {
	background-color: $link-color;
	background: -moz-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $link-color), color-stop(95%, #ac001e), color-stop(100%, #a20019));
	background: -webkit-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: -o-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: -ms-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	height: 39px;
}

.main {
	background: #f9f9f5 url($image-path + "noise1.png") repeat;
	min-height: 100%;
	/*temp*/
}

.container_16 {
	position: relative;
}

.search {
	background-color: $link-color;
	background: url($image-path + "search-devider.png"), -moz-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: url($image-path + "search-devider.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, $link-color), color-stop(95%, #ac001e), color-stop(100%, #a20019));
	background: url($image-path + "search-devider.png"), -webkit-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: url($image-path + "search-devider.png"), -o-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: url($image-path + "search-devider.png"), -ms-linear-gradient(top, $link-color 0%, #ac001e 95%, #a20019 100%);
	background: url($image-path + "search-devider.png"), linear-gradient(to bottom, $link-color 0%, #ac001e 95%, #a20019 100%);
	background-repeat: no-repeat;
	background-position: 0 50%;
	height: 39px;
	position: absolute;
	right: 60px;
	top: 0;
	width: 130px;
	a {
		background: transparent url($image-path + "ico-sprite-search.png") no-repeat 55% 8px;
		display: block;
		line-height: 19px;
		padding: 10px 0 10px 2px;
		text-indent: -9999px;
		width: 37px;
		&:hover, &:active, &:focus {
			background-position: 55% -41px;
		}
	}
}

.logo {
	margin: 3em 0;
	a {
		display: block;
	}
}

.headlines {
	h1 {
		margin: 40px 0 0 0;
		line-height: 120%;
	}
	p.header_title {
		color: #ca0030;
		font: bold 16px / 1.2 Cambria, Georgia, serif;
	}
	.subtitle {
		color: #282828;
		font: normal 18px / 1.4 Cambria, Georgia, serif;
		margin: 0 0 0 0;
	}
	p.subheader {
		color: #282828;
		font: bold 13px / 1.2 Helvetica, Arial, sans-serif;
		margin: 0;
	}
}

p {
	&.subline {
		color: #282828;
		font: bold 0.813em / 1.2 Helvetica, Arial, sans-serif;
	}
	&.back {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 0;
		a {
			background: transparent url($image-path + "arrow-left.png") no-repeat 0 50%;
			border-bottom: 1px solid #fff;
			border-top: 1px solid #aaa;
			color: #282828;
			display: block;
			font: 1em / 24px Georgia, Helvetica, Arial, sans-serif;
			padding: 11px 0 11px 18px;
			text-decoration: none;
			&:hover, &:active, &:focus {
				background-color: rgba(201, 2, 48, 0.05);
			}
		}
	}
}

.index {
	.subline {
		color: $link-color;
	}
	h1 {
		margin: 75px 0 40px;
	}
}

.js-off .globalsearch {
	display: block;
}

.search-block {
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 5px 5px -5px black inset;
	-moz-box-shadow: 0 5px 5px -5px black inset;
	box-shadow: 0 5px 5px -5px black inset;
	background-color: #fff;
	border: 1px solid #8b001a;
	margin: 6px 8px;
	input {
		background: none;
		border: none;
		color: #666;
		font-size: 0.813em;
		margin: 0 5px;
		padding: 6px 4px 2px;
		width: 58px;
	}
	.search-submit {
		background: transparent url($image-path + "ico-sprite-search.png") no-repeat 50% -100px;
		display: inline-block;
		padding: 0;
		text-indent: -9999px;
		width: 20px;
		height: 20px;
	}
}

.teaser-head {
	background: transparent url($image-path + "teaser-head-bg_mini.png") no-repeat;
	padding: 15px 25px 40px;
	width: 128px;
	height: 137px;
	overflow: hidden;
	h2 {
		padding: 0 0 10px 0;
		font: italic normal 1em / 1 Georgia, serif !important;
		letter-spacing: 0.01em;
		margin: 0 !important;
		text-align: center;
	}
	p {
		font: italic normal 1em / 1 Georgia, serif !important;
		letter-spacing: 0.01em;
		margin: 0 !important;
		text-align: center;
		font: italic 13px / 15px Georgia, serif !important;
	}
	a {
		font: italic 13px / 15px Georgia, serif !important;
	}
}

.content {
	margin: 0 0 2em;
	hr {
		clear: both;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
	}
	.csc-default:first-child h2 {
		margin: 0 0 24px;
	}
}

.column-linklist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		float: left;
		width: 31%;
		margin: 0 0 0 3.5%;
		padding: 0;
		-webkit-box-shadow: 0 1px 0 white, 0 -1px 0 #aaaaaa;
		-moz-box-shadow: 0 1px 0 white, 0 -1px 0 #aaaaaa;
		box-shadow: 0 1px 0 white, 0 -1px 0 #aaaaaa;
		&:first-child {
			margin: 0;
		}
	}
	a {
		background: transparent url($image-path + "arrow-right.png") no-repeat 100% 50%;
		color: #282828;
		display: block;
		padding: 11px 18px 11px 0;
		font: 1em / 1.2 Cambria, Georgia, serif;
		line-height: 22px;
		text-decoration: none;
		&:hover, &:active, &:focus {
			background-color: rgba(201, 2, 48, 0.05);
		}
	}
}

.aside {
	h1, h2, h3, h4, h5, h6 {
		font: bold 1em / 1.3 Helvetica, Arial, sans-serif;
		margin: 0.5em 0;
	}
	p, ol, ul, li, address {
		font: 0.813em / 1.3 Helvetica, Arial, sans-serif;
		margin: 1em 0;
	}
	li {
		margin: 0;
		font: 1em / 1.3 Helvetica, Arial, sans-serif;
	}
	hr {
		margin: 1.5em 0;
		&:first-child {
			margin: 0 0 1.5em;
		}
	}
}

.footer {
	color: #999;
	text-align: center;
	padding: 2em 0 4em;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		border-left: 1px solid #999;
		display: inline;
		font-size: 0.813em;
		&:first-child {
			border-left: none;
		}
	}
	a {
		color: #999;
		padding: 0 5px 0 8px;
	}
}

.textleft {
	text-align: left;
}

.textcenter {
	text-align: center;
}

.textright {
	text-align: right;
}

.small {
	font-size: 10px;
}

.toplink {
	font-weight: bold;
}

.lof-slider_5 {
	.lof-main-outer {
		.lof-next {
			background: transparent url($image-path + "arrow-right-white.png") no-repeat right center;
			right: 16px;
		}
		.lof-previous {
			background: transparent url($image-path + "arrow-left-white.png") no-repeat left center;
			left: 16px;
		}
	}
	.lof-css3 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.lof-description_black h3 {
		font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
		color: #fff;
		text-decoration: none;
		a {
			font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
			color: #fff;
			text-decoration: none;
			&:visited {
				font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
				color: #fff;
				text-decoration: none;
			}
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
	.lof-description_white h3 a:hover, .lof-description_nobg h3 a:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.totop {
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 5px;
}

#menu ul {
	margin-bottom: 25px;
}

.rss-feed {
	line-height: 120%;
	a {
		font-size: 80%;
	}
	img {
		margin: -2px 0px 0px 0px !important;
		padding: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
}

.teaser-logo {
	text-align: center;
}

table {
	font: 1em/22px Cambria,Georgia,serif;
}

#tx_find h2 {
	margin: 0;
}