/**
 * 	variables
 */

body {
	background-color: #fff;
	font-size: 1em;
}

p {
	font: 0.813em / 1.231 Helvetica, Arial, sans-serif;
}

ul {
	padding: 0 0 0 15px;
}

ol {
	padding: 0 0 0 20px;
}

/**
 * 	 Headings
 */

h1, .h1 {
	font: normal 1.625em / 28px Cambria, Georgia, serif;
	letter-spacing: 0.01em;
	margin: 1em 0;
}

h2, .h2 {
	font: bold 1em / 18px Cambria, Georgia, serif;
	margin: 24px 0;
}

h3, .h3 {
	font: bold 1em / 18px Cambria, Georgia, serif;
	margin: 18px 0;
}

h4, .h4 {
	font: bold 1em / 24px Helvetica, Arial, sans-serif;
	margin: 24px 0 0;
}

h5, .h5 {
	color: #c90230;
	font: bold 1em / 1.2 Helvetica, Arial, sans-serif;
	margin: 0.25em 0 1em;
}

q {
	font-style: italic;
}

address {
	font-style: normal;
}

h4 + address {
	margin: 0 0 1em;
}

/**
 *	Links
 */

a {
	color: #c90230;
	text-decoration: none;
	&:visited {
		color: #c90230;
	}
	&:hover {
		color: #c90230;
		text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
		text-decoration: underline;
	}
	&:hover, &:active {
		outline: 0;
		text-decoration: underline;
	}
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

.top-container {
	background-color: #c90230;
	background: -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019));
	background: -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: -ms-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	height: 39px;
}

.main {
	background: #f9f9f5 url("../Images/noise1.png") repeat;
	min-height: 100%;
	/*temp*/
}

.container_16 {
	position: relative;
}

.search {
	background-color: #c90230;
	background: url("../Images/search-devider.png"), -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: url("../Images/search-devider.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019));
	background: url("../Images/search-devider.png"), -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: url("../Images/search-devider.png"), -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: url("../Images/search-devider.png"), -ms-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
	background: url("../Images/search-devider.png"), linear-gradient(to bottom, #c90230 0%, #ac001e 95%, #a20019 100%);
	background-repeat: no-repeat;
	background-position: 0 50%;
	height: 39px;
	position: absolute;
	right: 60px;
	top: 0;
	width: 130px;
	a {
		background: transparent url("../Images/ico-sprite-search.png") no-repeat 55% 8px;
		display: block;
		line-height: 19px;
		padding: 10px 0 10px 2px;
		text-indent: -9999px;
		width: 37px;
		&:hover, &:active, &:focus {
			background-position: 55% -41px;
		}
	}
}

.language {
	background-color: #000;
	background-image: url("../Images/search-devider.png"), -moz-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
	background-image: url("../Images/search-devider.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(50%, #333333), color-stop(50%, black), color-stop(100%, black));
	background-image: url("../Images/search-devider.png"), -webkit-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
	background-image: url("../Images/search-devider.png"), -o-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
	background-image: url("../Images/search-devider.png"), -ms-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
	background-image: url("../Images/search-devider.png"), linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	padding: 0;
	height: auto;
	position: absolute;
	top: 0;
	right: 10px;
	width: 50px;
	z-index: 10;
	&:hover ul, &:active ul, &:focus ul {
		display: block;
	}
	ul {
		background-color: #000;
		border: 1px solid #797979;
		border-top: none;
		font: normal 13px / 22px Helvetica, Arial, sans-serif;
		margin: 0 0 0 1px;
		padding: 0;
		list-style-type: none;
		display: none;
		-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		width: 80px;
	}
	li {
		width: 80px;
		background-color: #000;
	}
	h2 {
		background-color: #000;
		background-image: url("../Images/language-devider.png"), -moz-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
		background-image: url("../Images/language-devider.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(50%, #333333), color-stop(50%, black), color-stop(100%, black));
		background-image: url("../Images/language-devider.png"), -webkit-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
		background-image: url("../Images/language-devider.png"), -o-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
		background-image: url("../Images/language-devider.png"), -ms-linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
		background-image: url("../Images/language-devider.png"), linear-gradient(top, #555555 0%, #333333 50%, black 50%, black 100%);
		background-repeat: no-repeat;
		background-position: 100% 0;
		background-size: auto 39px;
		margin: 0 0 0 2px;
		color: #ccc;
		/*#999;*/
		font: bold 0.75em / 19px Helvetica, Arial, sans-serif;
		cursor: pointer;
		text-transform: uppercase;
		span {
			background: transparent url("../Images/arrow-down.png") no-repeat 85% 50%;
			display: block;
			padding: 10px;
			cursor: pointer;
		}
	}
	a {
		background-color: #000;
		color: #ccc;
		/*#999;*/
		display: block;
		font-weight: bold;
		line-height: 19px;
		padding: 10px 9px 10px 13px;
		text-decoration: none;
		width: 60px;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}
}

.logo {
	margin: 3em 0;
	a {
		display: block;
	}
}

.headlines {
	h1 {
		margin: 40px 0 0 0;
		line-height: 120%;
	}
	p.header_title {
		color: #ca0030;
		font: bold 16px / 1.2 Cambria, Georgia, serif;
	}
	.subtitle {
		color: #282828;
		font: normal 18px / 1.4 Cambria, Georgia, serif;
		margin: 0 0 0 0;
	}
	p.subheader {
		color: #282828;
		font: bold 13px / 1.2 Helvetica, Arial, sans-serif;
		margin: 0;
	}
}

p {
	&.subline {
		color: #282828;
		font: bold 0.813em / 1.2 Helvetica, Arial, sans-serif;
	}
	&.back {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 0;
		a {
			background: transparent url("../Images/arrow-left.png") no-repeat 0 50%;
			border-bottom: 1px solid #fff;
			border-top: 1px solid #aaa;
			color: #282828;
			display: block;
			font: 1em / 24px Georgia, Helvetica, Arial, sans-serif;
			padding: 11px 0 11px 18px;
			text-decoration: none;
			&:hover, &:active, &:focus {
				background-color: rgba(201, 2, 48, 0.05);
			}
		}
	}
}

.index {
	.subline {
		color: #c90230;
	}
	h1 {
		margin: 75px 0 40px;
	}
}

.js-off .globalsearch {
	display: block;
}

.search-block {
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 5px 5px -5px black inset;
	-moz-box-shadow: 0 5px 5px -5px black inset;
	box-shadow: 0 5px 5px -5px black inset;
	background-color: #fff;
	border: 1px solid #8b001a;
	margin: 6px 8px;
	input {
		background: none;
		border: none;
		color: #666;
		font-size: 0.813em;
		margin: 0 5px;
		padding: 6px 4px 2px;
		width: 58px;
	}
	.search-submit {
		background: transparent url("../Images/ico-sprite-search.png") no-repeat 50% -100px;
		display: inline-block;
		padding: 0;
		text-indent: -9999px;
		width: 20px;
		height: 20px;
	}
}

/**
 * Navigation
 */

.nav-breadcrumb {
	ul {
		list-style-type: none;
		height: 39px;
		margin: 0;
		padding: 0;
		width: 840px;
		overflow: hidden;
	}
	li {
		float: left;
		overflow: hidden;
		font-size: 0.813em;
	}
	h2 {
		float: left;
		overflow: hidden;
		font-size: 0.813em;
		color: #fff;
		font: bold 0.813em / 39px Helvetica, Arial, sans-serif;
		height: 39px;
		margin: 0;
		padding: 0 10px;
		width: 89px;
		text-align: right;
	}
	a {
		background: #c90230 url("../Images/breadcrumb-sprite.png") no-repeat 0 -39px;
		color: #fff;
		display: block;
		font-weight: bold;
		height: 39px;
		line-height: 39px;
		margin: 0 -4px 0 0;
		padding: 0 10px 0 25px;
		text-decoration: none;
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	li {
		&.first a {
			background: #c90230 url("../Images/breadcrumb-sprite.png") no-repeat 0 0;
			font-weight: bold;
			height: 23px;
			padding: 8px 10px 8px 15px;
			img {
				margin-top: -20px;
			}
		}
		&.cur a {
			background: #c90230 url("../Images/breadcrumb-sprite.png") no-repeat 0 -78px;
			padding: 0 5px 0 25px;
		}
	}
	&:after {
		content: url("../Images/breadcrumb-end.png");
		display: block;
		height: 40px;
		width: 160px;
		position: absolute;
		pointer-events: none;
		right: 120px;
		top: 0;
	}
}

.nav {
	ul {
		border-bottom: 1px solid #fff;
		border-top: 1px solid #aaa;
		margin: 0;
		padding: 0;
	}
	li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	a {
		color: #282828;
		display: block;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.3;
		padding: 0.8em 0;
		text-decoration: none;
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	ul ul {
		border-top: none;
		border-bottom: none;
		li {
			border-top: none;
			border-bottom: none;
		}
		a, .cur a {
			color: #000;
			font-size: 0.813em;
			font-weight: normal;
			padding: 0.5em 0;
		}
	}
	.cur {
		color: #c90230;
		font-size: 16px;
		list-style-type: disc;
		> a {
			color: #c90230;
			display: block;
			font-weight: bold;
			padding: 0.8em 0 0.8em;
		}
	}
	.act {
		> a {
			color: #c90230;
			padding: 0.8em 0 0.8em;
		}
		.cur a {
			color: #c90230;
			font-weight: normal;
		}
	}
}

.teaser-head {
	background: transparent url("../Images/teaser-head-bg_mini.png") no-repeat;
	padding: 15px 25px 40px;
	width: 128px;
	height: 137px;
	overflow: hidden;
	h2 {
		padding: 0 0 10px 0;
		font: italic normal 1em / 1 Georgia, serif !important;
		letter-spacing: 0.01em;
		margin: 0 !important;
		text-align: center;
	}
	p {
		font: italic normal 1em / 1 Georgia, serif !important;
		letter-spacing: 0.01em;
		margin: 0 !important;
		text-align: center;
		font: italic 13px / 15px Georgia, serif !important;
	}
	a {
		font: italic 13px / 15px Georgia, serif !important;
	}
}

.csc-default {
	p, ol, ul {
		font: 1em / 22px Cambria, Georgia, serif;
		margin: 22px 0;
	}
	li {
		font: 1em / 22px Cambria, Georgia, serif;
		margin: 22px 0;
		margin: 0;
	}
	address {
		font: 1em / 22px Cambria, Georgia, serif;
	}
	:first-child h3 {
		margin: 0;
	}
	p:first-child {
		margin: 0 0 22px;
	}
	a img {
		margin: 0 12px 12px 0;
		-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	}
	img {
		// margin: 12px 12px 12px 0

	}
	hr + ul {
		margin: 16px 0;
		> li {
			margin: 16px 0;
		}
	}
	a.toplink {
		font: bold 0.813em / 1.2 Helvetica, Arial, serif;
	}
	.linklist, .csc-menu {
		border-bottom: 1px solid #fff;
		border-top: 1px solid #aaa;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.linklist li, .csc-menu li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 0;
	}
	.linklist li a, .csc-menu li a {
		background: transparent url("../Images/arrow-right.png") no-repeat 100% 50%;
		color: #282828;
		display: block;
		padding: 11px 18px 11px 0;
		font: 1em / 1.2 Cambria, Georgia, serif;
		line-height: 22px;
		text-decoration: none;
	}
	.linklist li a {
		&:hover, &:active, &:focus {
			background-color: rgba(201, 2, 48, 0.05);
		}
	}
	.csc-menu li a {
		&:hover, &:active, &:focus {
			background-color: rgba(201, 2, 48, 0.05);
		}
	}
}

.csc-sitemap {
	ul {
		color: #c90230;
		list-style-type: disc;
		padding: 0 0 0 30px;
		ul {
			list-style-type: none;
			margin: 0;
		}
	}
	li {
		color: #c90230;
		font: bold 16px / 22px Helvetica, Arial, sans-serif;
		li {
			font: normal 16px / 22px Helvetica, Arial, sans-serif;
			li {
				font: normal 13px / 22px Helvetica, Arial, sans-serif;
			}
		}
	}
	.li-count {
		color: #282828;
	}
	.subset {
		display: none;
	}
	#link-compactversion {
		color: #c90230;
		font: bold 13px / 22px Helvetica, Arial, sans-serif;
	}
}

.content {
	margin: 0 0 2em;
	hr {
		clear: both;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
	}
	.csc-default:first-child h2 {
		margin: 0 0 24px;
	}
}

.column-linklist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		float: left;
		width: 31%;
		margin: 0 0 0 3.5%;
		padding: 0;
		-webkit-box-shadow: 0 1px 0 white, 0 -1px 0 #aaaaaa;
		-moz-box-shadow: 0 1px 0 white, 0 -1px 0 #aaaaaa;
		box-shadow: 0 1px 0 white, 0 -1px 0 #aaaaaa;
		&:first-child {
			margin: 0;
		}
	}
	a {
		background: transparent url("../Images/arrow-right.png") no-repeat 100% 50%;
		color: #282828;
		display: block;
		padding: 11px 18px 11px 0;
		font: 1em / 1.2 Cambria, Georgia, serif;
		line-height: 22px;
		text-decoration: none;
		&:hover, &:active, &:focus {
			background-color: rgba(201, 2, 48, 0.05);
		}
	}
}

.aside {
	h1, h2, h3, h4, h5, h6 {
		font: bold 1em / 1.3 Helvetica, Arial, sans-serif;
		margin: 0.5em 0;
	}
	p, ol, ul, li, address {
		font: 0.813em / 1.3 Helvetica, Arial, sans-serif;
		margin: 1em 0;
	}
	li {
		margin: 0;
		font: 1em / 1.3 Helvetica, Arial, sans-serif;
	}
	hr {
		margin: 1.5em 0;
		&:first-child {
			margin: 0 0 1.5em;
		}
	}
}

.footer {
	color: #999;
	text-align: center;
	padding: 2em 0 4em;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		border-left: 1px solid #999;
		display: inline;
		font-size: 0.813em;
		&:first-child {
			border-left: none;
		}
	}
	a {
		color: #999;
		padding: 0 5px 0 8px;
	}
}

.textleft {
	text-align: left;
}

.textcenter {
	text-align: center;
}

.textright {
	text-align: right;
}

.small {
	font-size: 10px;
}

.toplink {
	font-weight: bold;
}

.csc-textpic a img {
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.csc-textpic-caption {
	font-size: 0.75em;
	line-height: 14px;
	padding: 5px 0;
}

/**
 * 	extensions
 */

/**
* tx-wtdirectory
*/

.tx-wtdirectory-pi1 {
	.wt_directory_image {
		float: left;
		margin: 0 20px 20px 0;
		width: 150px;
	}
	h3 {
		margin: 0 0 0.25em;
	}
}

.wtdirectory_list {
	border-bottom: 1px solid #fff;
	border-top: 2px solid #000;
	margin: 0 !important;
	padding: 0;
	list-style-type: none;
	li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 0;
	}
	a {
		background: transparent url("../Images/arrow-right.png") no-repeat 100% 50%;
		color: #282828;
		display: block;
		padding: 11px 18px 11px 0;
		font: 1em / 1.2 Cambria, Georgia, serif;
		line-height: 22px;
		text-decoration: none;
		&:hover, &:active, &:focus {
			background-color: rgba(201, 2, 48, 0.05);
		}
	}
}

.wtdirectory_filter {
	color: #282828;
	font: 0.813em / 1.3 Helvetica, Arial, sans-serif;
}

.wtdirectory_filter_abc span {
	vertical-align: middle;
	padding: 0 0.17em;
}

.wtdirectory_abc_letter_act, .wtdirectory_abc_letter_all_act {
	font: 3.385em / 1.2 Cambria, Georgia, serif;
}

.wtdirectory_abc_letter_act a, .wtdirectory_abc_letter_all_act a {
	color: #282828;
}

.wtdirectory-block {
	.wtdirectory-img {
		float: right;
		width: 208px;
	}
	.wtdirectory-text {
		float: left;
		width: 500px;
	}
}

.tx-solr form {
	clear: both;
	padding: 1em 0;
}

#tx-solr-search {
	width: 520px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#tx-solr-search-functions {
	width: 200px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	h4 {
		margin: 0 0 0.25em;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
	}
	a {
		display: block;
		padding: 0.25em 0;
	}
}

.results-list {
	color: #c90230;
	list-style-position: inside;
	border-bottom: 1px solid #fff;
	border-top: 2px solid #000;
	margin: -1px 0 0 !important;
	padding: 0;
	h5 {
		font: normal 1em / 1.2 Cambria, Georgia, serif;
		display: inline;
	}
	li {
		background: transparent url("../Images/arrow-right.png") no-repeat 100% 50%;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 1em 0;
	}
	p {
		color: #282828;
		padding: 0 2.5em 0 1.5em;
		margin: 0 !important;
		+ p {
			display: none;
		}
	}
}

.tx-solr-relevance-bar {
	display: none;
}

.tx-pagebrowse-pi1 {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #aaa;
	ul {
		border-bottom: 1px solid #aaa;
		border-top: 1px solid #fff;
		width: 100%;
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0.3em 0;
	}
	ol {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0.3em 0;
	}
	li {
		display: inline-block;
		font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
		margin: 0 0 0 2.8em;
		text-align: center;
		vertical-align: middle;
		&:first-child {
			margin: 0 0 0 0;
		}
	}
}

.tx-pagebrowse-pages ol {
	margin: -12px 0 0;
	li {
		margin: 12px 0 0 1.8em;
	}
	.tx-pagebrowse-current {
		font: 2.75em / 1.2 Cambria, Georgia, serif;
		margin: 0 3px;
	}
}

/**
 * 	temp
 */

.tx-pagebrowse-pi1 + form {
	display: none;
}

.results-list + .tx-pagebrowse-pi1 {
	margin: -2px 0 0;
}

.lof-slider_5 {
	.lof-main-outer {
		.lof-next {
			background: transparent url("../Images/arrow-right-white.png") no-repeat right center;
			right: 16px;
		}
		.lof-previous {
			background: transparent url("../Images/arrow-left-white.png") no-repeat left center;
			left: 16px;
		}
	}
	.lof-css3 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.lof-description_black h3 {
		font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
		color: #fff;
		text-decoration: none;
		a {
			font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
			color: #fff;
			text-decoration: none;
			&:visited {
				font: 0.813em / 1.2 Helvetica, Arial, sans-serif;
				color: #fff;
				text-decoration: none;
			}
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
	.lof-description_white h3 a:hover, .lof-description_nobg h3 a:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.news-latest-container .news-latest-item {
	margin: 1em 0;
	h2, p, span {
		font-size: 0.813em;
		margin: 0;
	}
	h2 a {
		cursor: default;
		text-decoration: none;
		&:hover {
			cursor: default;
			text-decoration: none;
		}
	}
	a {
		color: #282828;
	}
	.news-list-morelink a {
		color: #c90230;
	}
}

.dspaceconnect {
	ul {
		list-style-type: disc;
		margin: 0 0 1em;
		padding: 0 0 0 1em;
		ul {
			padding: 0 0 0 2em;
		}
	}
	.grid_9 h3 {
		display: none;
	}
}

ul {
	&.dspaceconnect-paramorder, &.dspaceconnect-paramperpage {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	&.dspaceconnect-paramorder li, &.dspaceconnect-paramperpage li {
		float: left;
	}
	&.dspaceconnect-paramorder a, &.dspaceconnect-paramperpage a {
		color: #fff;
		display: inline-block;
		font-weight: bold;
		margin: 0 4px;
		padding: 4px 8px;
		background-color: #c90230;
		background: -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019));
		background: -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
		background: -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
		background: -ms-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
		background: linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
		border: 1px solid #790013;
		border-radius: 4px;
		min-width: 20px;
		text-align: center;
	}
	&.dspaceconnect-paramorder a:first-child, &.dspaceconnect-paramperpage a:first-child {
		margin: 0 4px 0 0;
	}
	&.dspaceconnect-paramorder {
		.highlight, a:hover {
			background-color: #c90230;
			background: -moz-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #970124), color-stop(95%, #850019), color-stop(100%, #790013));
			background: -webkit-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: -o-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: -ms-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			text-decoration: none;
		}
	}
	&.dspaceconnect-paramperpage {
		.highlight, a:hover {
			background-color: #c90230;
			background: -moz-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #970124), color-stop(95%, #850019), color-stop(100%, #790013));
			background: -webkit-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: -o-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: -ms-linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			background: linear-gradient(top, #970124 0%, #850019 95%, #790013 100%);
			text-decoration: none;
		}
	}
}

.totop {
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 5px;
}

.wt_directory_pagebrowser {
	li {
		display: inline;
		padding: 0 10px 0 0;
	}
	.act {
		color: #282828;
	}
}

#menu ul {
	margin-bottom: 25px;
}

.rss-feed {
	line-height: 120%;
	a {
		font-size: 80%;
	}
	img {
		margin: -2px 0px 0px 0px !important;
		padding: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
}

.teaser-logo {
	text-align: center;
}

.tx_sevenpack-series, .tx_sevenpack-title {
	font-style: normal;
}