$formLabelWidth: 150px;

.tx_find {

	aside {
		float: right;
		width: 300px;

		aside h2 {
			display: none;
		}

		.map {
			height: 300px;
			background: #fff;
		}
	}

	.mapContainer .infoWindow {
		article.kloster {
			h1 {
				position: static;
				margin: 0;
				padding: 0;

				a:hover {
					font-weight: 300;
				}
			}

			ul, li {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

			.zeitraum:after {
				content: ': ';
			}
		}
	}

	form {
		.fieldContainer {
			.fieldLabel {
				width: $formLabelWidth;
			}

			.inputContainer {
				margin-left: $formLabelWidth + 5px;
			}
		}
	}

	$mapRight: 225px;

	.results {
		&.largeMap {
			.facet-type-Map .mapContainer {
				position: absolute;
				left: 0;
				right: $mapRight;
				height: 700px;
			}

			.facet-type-Map h1 {
				position: absolute;
				left: 0;
				right: $mapRight;
			}
		}
	}

	article {
		&.detail {
			h2 {
				font-size: 1rem!important;
			}
			.main > p {
				margin-top: 0 !important;
			}
		}
		section {
			margin-bottom: 1em;
			> * {
				line-height: 1.5;
				margin: 0 0 0 15px!important;
				padding: 0;
			}

			h2 {
				float: left;
				clear: left;
				width: 8em;
				margin-left: 0;
				font-size: 100%;
				text-align: right;
			}

			h3 {
				font-size: 100%;
				text-transform: uppercase;
				margin-top: 1em;
				margin-bottom: 1em;
			}

			ol, ul {
				padding: 0;
				list-style-type: none;
			}

			ol p {
				padding-left: 1em;
				text-indent: -1em;
			}

			li p {
				margin-bottom: 0.5em;
			}

			nav {
				margin-bottom: 1em;

				ol {
					li {
						display: inline;
						list-style-type: none;
						:after {
							content: ', ';
						}
						:last-of-type:after {
							content: '';
						}
					}
				}
			}

			section {
				margin: 0;
			}
		}

		span.bemerkung {
			font-style: italic;
		}

		.literatur li {
			word-wrap: break-word;
			padding-left: 1em;
			text-indent: -1em;
		}

		span.ort,
		span.orden,
		span.band-nummer,
		section.person .name {
			font-weight: bold;
		}

		.zeitraum:after {
			content: ':';
		}

		.person_namensalternativen {
			&:before {
				content: '(';
			}
			&:after {
				content: ')';
			}
		}
	}

	.facet-type-Map {
		h1 {
			.extraText {
				text-transform: none;
				font-style: italic;
				color: #bbb;
			}

			:hover .extraText {
				color: inherit;
			}
		}
	}

	.hidden {
		display: none;
	}

	.downloadLinks {
		ul, li {
			display: inline;
			padding: 0;
		}
		.formatName {
			text-transform: uppercase;
		}
	}

	.zitation-detail {
		font-style: italic;
	}

	.mapContainer #leafletMap_id * {
		cursor: default !important;
	}

	.mapContainer .leafletMap_zoom {
		position: absolute;
		right: 10px;
		z-index: 7;
		width: 25px;
		height: 25px;
		text-align: center;
		margin: 5px;
		color: #c90230;
		font-size: 1.3em;
		background-color: #fff;
	}


	.mapContainer .leafletMap_copy {
		position: absolute;
		display: inline-flex;
		z-index: 7;
		bottom: 0;
		right: 0;
		padding: 0 5px;
		margin: 0;
		font-size: 0.8em;
		background: rgba(255, 255, 255, 0.7);
	}
	.mapContainer .leafletMap_resize {
			cursor: pointer;
		}


	#leafletMap_resizeLink {
		font: 1em / 22px Cambria, Georgia, serif; // matches font of other facets
		cursor: pointer;
	}
}

.tx_find .person ol,
.tx_find .person h3 {
	margin-left: 0;
}