@import '_Includes/Settings';

$formLabelWidth: 150px;

.tx_find {

	aside {
		float: right;
		width: 300px;

		aside h2 {
			display: none;
		}

		.map {
			height: 300px;
			background: #fff;
		}
	}

	.mapContainer .infoWindow {
		article.kloster {
			h1 {
				position: static;
				margin: 0;
				padding: 0;

				a:hover {
					font-weight: 300;
				}
			}

			ul, li {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

			.zeitraum:after {
				content: ': ';
			}
		}
	}

	form {
		.fieldContainer {
			.fieldLabel {
				width: $formLabelWidth;
			}

			.inputContainer {
				margin-left: $formLabelWidth + 5px;
			}
		}
	}

	$mapRight: 225px;

	.results {
		&.largeMap {
			.facet-type-Map .mapContainer {
				position: absolute;
				left: 0;
				right: $mapRight;
				height: 700px;
			}

			.facet-type-Map h1 {
				position: absolute;
				left: 0;
				right: $mapRight;
			}
		}
	}

	article {
		&.detail {
			h2 {
				font-size: 1rem!important;
			}
			.main > p {
				margin-top: 0 !important;
			}
		}
		section {
			margin-bottom: 1em;
			> * {
				line-height: 1.5;
				margin: 0 0 0 15px!important;
				padding: 0;
			}

			h2 {
				float: left;
				clear: left;
				width: 8em;
				margin-left: 0;
				font-size: 100%;
				text-align: right;
			}

			h3 {
				font-size: 100%;
				text-transform: uppercase;
				margin-top: 1em;
				margin-bottom: 1em;
				text-indent: -1em;
			}

			ol, ul {
				padding: 0;
				list-style-type: none;
			}

			ol p {
				padding-left: 1em;
				text-indent: -1em;
			}

			li p {
				margin-bottom: 0.5em;
			}

			nav {
				margin-bottom: 1em;

				ol {
					li {
						display: inline;
						list-style-type: none;
						:after {
							content: ', ';
						}
						:last-of-type:after {
							content: '';
						}
					}
				}
			}

			section {
				margin: 0;
			}
		}

		span.bemerkung {
			font-style: italic;
		}

		.literatur li {
			word-wrap: break-word;
			padding-left: 1em;
			text-indent: -1em;
		}

		span.ort,
		span.orden,
		span.band-nummer,
		section.person .name {
			font-weight: bold;
		}

		.zeitraum:after {
			content: ':';
		}

		.zeitraum {
			margin-left: -1em;
		}

		.lage .zeitraum,
		.orden .zeitraum, {
			margin-left: 0;
		}

		.person_namensalternativen {
			&:before {
				content: '(';
			}
			&:after {
				content: ')';
			}
		}
	}

	.facet-type-Map {
		h1 {
			.extraText {
				text-transform: none;
				font-style: italic;
				color: #bbb;
			}

			:hover .extraText {
				color: inherit;
			}
		}
	}

	.hidden {
		display: none;
	}

	.downloadLinks {
		ul, li {
			display: inline;
			padding: 0;
		}
		.formatName {
			text-transform: uppercase;
		}
	}

	.zitation-detail {
		font-style: italic;
	}

	.facetMap-container {
			height: 2em !important;
	}

	.leafletMap_popup {
		a {
			color: $link-color-dark;
			font-weight: normal;
		}
		td {
			padding-right: 5px;
			padding-top: 5px;
			line-height: 1.2;
		}
		h3 {
			line-height: 1.2;
		}
	}

	.leafletMap_reset-view {
		border: $button-border;
		color: $link-color-dark;
		background-color: $button-background-light;
		padding: 5px;
		margin-bottom:5px;
		display: block;
		margin-top: 5px;
	}

	.leafletMap_reset-view:focus {
		outline: 0;
	}

	.leafletMap_reset-view:hover {
		color: $link-color-light;
		background-color: $button-background-dark;
		transition: all .1s ease-in;
	}

	#leafletMap_btnGroup {
		width: 100%;
	}

	#leafletMap_btnGroup input[type="radio"] {
		position: absolute;
		left: -1000px;
	}

	#leafletMap_btnGroup label {
		background-color:$button-background-light;
		color: $link-color-dark;
		border: $button-border;
		padding:4px 11px;
		margin: -1px;
		font-family:Arial;
		font-size:16px;
		cursor: pointer;
		width: 40%;
		display: block;
	}

	#leafletMap_btnGroup #leafletMap_list {
		float: left;
	}

	#leafletMap_btnGroup #leafletMap_map {
		float: right;
	}

	#leafletMap_btnGroup input[type="radio"]:checked + label {
		background-color: $button-background-dark;
		color: $link-color-light;
		cursor: default;
	}

	#leafletMap_btnGroup label:hover {
		background-color: $button-background-dark;
		color: $link-color-light;
		transition: all .1s ease-in;
	}

	.marker-cluster-small, .marker-cluster-small div,
	.marker-cluster-medium, .marker-cluster-medium div,
	.marker-cluster-large, .marker-cluster-large div {
		background-color: $cluster-color;
	}

		/* IE 6-8 fallback colors */
	.leaflet-oldie {
		.marker-cluster-small, .marker-cluster-small div,
		.marker-cluster-medium, .marker-cluster-medium div,
		.marker-cluster-large, .marker-cluster-large div {
			background-color: $cluster-color-ie;
		}
	}

	#leafletMap_spinner {
		position: relative;
		top: -350px;
		left: 350px;
		z-index: 3;
		color: rgba(241, 128, 23, 0.6);
	}
}

.tx_find .person ol,
.tx_find .person h3 {
	margin-left: 0;
}
