/**
* tx-wtdirectory
*/

.tx-wtdirectory-pi1 {
	.wt_directory_image {
		float: left;
		margin: 0 20px 20px 0;
		width: 150px;
	}
	h3 {
		margin: 0 0 0.25em;
	}
}

.wtdirectory_list {
	border-bottom: 1px solid #fff;
	border-top: 2px solid #000;
	margin: 0 !important;
	padding: 0;
	list-style-type: none;
	li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		margin: 0;
		padding: 0;
	}
	a {
		background: transparent url($image-path + "arrow-right.png") no-repeat 100% 50%;
		color: #282828;
		display: block;
		padding: 11px 18px 11px 0;
		font: 1em / 1.2 Cambria, Georgia, serif;
		line-height: 22px;
		text-decoration: none;
		&:hover, &:active, &:focus {
			background-color: rgba(201, 2, 48, 0.05);
		}
	}
}

.wtdirectory_filter {
	color: #282828;
	font: 0.813em / 1.3 Helvetica, Arial, sans-serif;
}

.wtdirectory_filter_abc span {
	vertical-align: middle;
	padding: 0 0.17em;
}

.wtdirectory_abc_letter_act, .wtdirectory_abc_letter_all_act {
	font: 3.385em / 1.2 Cambria, Georgia, serif;
}

.wtdirectory_abc_letter_act a, .wtdirectory_abc_letter_all_act a {
	color: #282828;
}

.wtdirectory-block {
	.wtdirectory-img {
		float: right;
		width: 208px;
	}
	.wtdirectory-text {
		float: left;
		width: 500px;
	}
}

.wt_directory_pagebrowser {
	li {
		display: inline;
		padding: 0 10px 0 0;
	}
	.act {
		color: #282828;
	}
}