{namespace s=Subugoe\Find\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<f:comment>
  Creates a map facet.

  It expects coordinates.
  It defines the map, initiates it and adds the markers
</f:comment>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.css"/>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/MarkerCluster.css"/>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/MarkerCluster.Default.css"/>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/Css/germaniasacraMap.css"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.js"></t3jquery:addJQueryAndScript>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.markercluster.js"></t3jquery:addJQueryAndScript>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/germaniasacraMap.js">



</t3jquery:addJQueryAndScript>
<div class="facetMap-container">
	<div class="mapContainer">
		<div id="leafletMap_btnGroup">
			<input
				type="radio"
				name="view"
				id="leafletMap_list_i"
				value="list" checked />
			<label for="leafletMap_list_i" id="leafletMap_list"><i class="fa fa-list-ol fa-1g fa-fw"></i>
				<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.list"/>
			</label>
			<input
				type="radio"
				name="view"
				id="leafletMap_map_i"
				value="map" />
			<label for="leafletMap_map_i"id="leafletMap_map"><i class="fa fa-map-marker fa-1g fa-fw"></i>
				<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.map"/>
			</label>
		</div>
    </div>
	<script>
		var resourcesBaseURL = {s:format.json(data:"{f:uri.resource(
					path:'Images/GermaniaSacra/',
					absolute:'1',
					extensionName: 'tmpl_adw'
				)}")};


		var IDURLTemplate = {s:format.json(data:"{f:uri.action(
					arguments:'{
						id:\'###ID###\'
					}',
					action:'detail',
					noCacheHash:'1'
				)}")};

		/* If loaded for the first time, the object is defined */
		var leafletMap = {};
		leafletMap.language = {};
		leafletMap.language.legend = "<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.legend"/>";
		leafletMap.language.resetView = "<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.resetView"/>";
		leafletMap.legendPath = '<f:uri.page pageUid="{settings.legendPath}"></f:uri.page>';

		/* change standard header */
		$(".facet-id-map h1").text("<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.view"/>");

		/* Add functionality to toggle buttons */
		$("#leafletMap_btnGroup input").click(function() {
			leafletMapToggle($(this).attr('id').replace('leafletMap_','').replace('_i', ''));
		});

		/* depending on the mode, the buttons are active or inactive.
			Default is list=active */
		if (leafletMapGetMode() == "map") {
			$("#leafletMap_btnGroup input")[1].checked = true;
		}
	</script>
</div>