{namespace s=Subugoe\Find\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<f:comment>
	Creates a map facet.

	It expects coordinates.
	It defines the map, initiates it and adds the markers
</f:comment>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.css"/>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/Css/germaniasacraMap.css"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.js"></t3jquery:addJQueryAndScript>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/germaniasacraMap.js">
</t3jquery:addJQueryAndScript>
<div class="facetMap-container">
	<div class="mapContainer">
		<div id="lmap" class="tool-mode__lmap"></div>
		<script>
			var leafletMap = L.map('lmap').setView([52,14], 3);
			leafletInitMap();
		<f:for each="{facetData.values}" as="itemCount" key="coord" iteration="iterator">
			leafletIterate({coord});
		</f:for>
	</script>
	</div>
</div>

