@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\000035}}
.tx_find aside {
  float: right;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\000039}}
.tx_find aside aside h2 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000313}}
.tx_find aside .map {
  height: 300px;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000321}}
.tx_find .mapContainer .infoWindow article.kloster h1 {
  position: static;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000326}}
.tx_find .mapContainer .infoWindow article.kloster h1 a:hover {
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000331}}
.tx_find .mapContainer .infoWindow article.kloster ul, .tx_find .mapContainer .infoWindow article.kloster li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000337}}
.tx_find .mapContainer .infoWindow article.kloster .zeitraum:after {
  content: ': ';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000345}}
.tx_find form .fieldContainer .fieldLabel {
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000349}}
.tx_find form .fieldContainer .inputContainer {
  margin-left: 155px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000359}}
.tx_find .results.largeMap .facet-type-Map .mapContainer {
  position: absolute;
  left: 0;
  right: 225px;
  height: 700px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000366}}
.tx_find .results.largeMap .facet-type-Map h1 {
  position: absolute;
  left: 0;
  right: 225px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000376}}
.tx_find article.detail h2 {
  font-size: 1rem !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000379}}
.tx_find article.detail .main > p {
  margin-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000383}}
.tx_find article section {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000385}}
.tx_find article section > * {
  line-height: 1.5;
  margin: 0 0 0 15px !important;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\0000391}}
.tx_find article section h2 {
  float: left;
  clear: left;
  width: 8em;
  margin-left: 0;
  font-size: 100%;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003100}}
.tx_find article section h3 {
  font-size: 100%;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
  text-indent: -1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003108}}
.tx_find article section ol, .tx_find article section ul {
  padding: 0;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003113}}
.tx_find article section ol p {
  padding-left: 1em;
  text-indent: -1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003118}}
.tx_find article section li p {
  margin-bottom: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003122}}
.tx_find article section nav {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003126}}
.tx_find article section nav ol li {
  display: inline;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003129}}
.tx_find article section nav ol li :after {
  content: ', ';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003132}}
.tx_find article section nav ol li :last-of-type:after {
  content: '';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003139}}
.tx_find article section section {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003144}}
.tx_find article span.bemerkung {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003148}}
.tx_find article .literatur li {
  word-wrap: break-word;
  padding-left: 1em;
  text-indent: -1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003157}}
.tx_find article span.ort,
.tx_find article span.orden,
.tx_find article span.band-nummer,
.tx_find article section.person .name {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003161}}
.tx_find article .zeitraum:after {
  content: ':';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003165}}
.tx_find article .zeitraum {
  margin-left: -1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003170}}
.tx_find article .person_namensalternativen:before {
  content: '(';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003173}}
.tx_find article .person_namensalternativen:after {
  content: ')';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003181}}
.tx_find .facet-type-Map h1 .extraText {
  text-transform: none;
  font-style: italic;
  color: #bbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003187}}
.tx_find .facet-type-Map h1 :hover .extraText {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003193}}
.tx_find .hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003198}}
.tx_find .downloadLinks ul, .tx_find .downloadLinks li {
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003202}}
.tx_find .downloadLinks .formatName {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003207}}
.tx_find .zitation-detail {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003211}}
.tx_find .mapContainer #leafletMap_id * {
  cursor: default !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003215}}
.tx_find .mapContainer .leafletMap_zoom {
  position: absolute;
  right: 0;
  z-index: 7;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 5px;
  color: #c90230;
  font-size: 18px;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003229}}
.tx_find .mapContainer .leafletMap_copy {
  position: absolute;
  display: inline-flex;
  z-index: 7;
  bottom: 0;
  right: 0;
  padding: 0 5px;
  margin: 0;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003240}}
.tx_find .mapContainer .leafletMap_resize {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003245}}
.tx_find #leafletMap_resizeLink {
  font: 1em / 22px Cambria, Georgia, serif;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nw\/dev\/adw\/typo3conf\/ext\/tmpl_adw\/Resources\/Private\/Scss\/germania-sacra\.scss}line{font-family:\00003252}}
.tx_find .person ol,
.tx_find .person h3 {
  margin-left: 0;
}
