{namespace s=Subugoe\Find\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<f:comment>
	Adds the map to the monastery detaily view with information on the markers
	to set for the current monastery.

	germania-sacra.js will then load other monastery locations close to the current
	one and insert those into the map in case the user wants to explore the region.
</f:comment>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.css"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.js"></t3jquery:addJQueryAndScript>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/germaniasacraMap.js"></t3jquery:addJQueryAndScript>

<div id="c-{document.id}-map" class="map"></div>

<script>
	var resourcesBaseURL = {s:format.json(data:"{f:uri.resource(
				path:'Images/GermaniaSacra/',
				absolute:'1',
				extensionName: 'tmpl_adw'
			)}")};


			var IDURLTemplate = {s:format.json(data:"{f:uri.action(
				arguments:'{
					id:\'###ID###\'
				}',
				action:'detail',
				noCacheHash:'1'
			)}")};
	var leafletMap = {};
	var id="c-"+{document.id}+"-map";
	var ID = {s:format.json(data:document.id)};
	var standorte = [];
	var koordinaten, titel, queryURL, institutionengenau, icon, ort, klosterTitel;
	<f:for each="{document.koordinaten}" as="koordinaten" key="index" iteration="iter">
		id={s:format.json(data:document.id)};
		koordinaten = {s:format.json(data:koordinaten)};
		titel = {s:format.json(data:document.kloster)};
		institutionengenau = {s:format.json(data:"{s:data.valueForKey(array:document.koordinaten_institutionengenau, key:index)}")};
		icon = {s:format.json(data:"{s:data.valueForKey(array:document.orden_graphik, key:index)}")};
		ort = {s:format.json(data:"{s:data.valueForKey(array:document.ort, key:index)}")};
		<f:if condition="{iter.total} > 1">
			<f:then>klosterTitel = titel+",<br />Standort "+ort;</f:then>
			<f:else>klosterTitel = titel</f:else>
		</f:if>
		<f:for each="{document.orden_graphik}" as="graphik" key="index2" iteration="iter2">
			<f:if condition='{graphik}'>
				<f:then>;
					icon = {s:format.json(data:"{s:data.valueForKey(array:document.orden_graphik, key:index2)}")};
				</f:then>
				</f:if>
		</f:for>
		standorte.push({
			id:id,
			koordinaten: koordinaten,
			titel: titel,
			queryURL: queryURL,
			institutionengenau: institutionengenau,
			icon: icon,
			klosterTitel: klosterTitel
		});
	</f:for>
	leafletMapSetSize("small");
	jQuery(document).bind('tx_find.mapsLoaded', function() {
		leafletMapInit("small", "c-"+{document.id}+"-map");
	})
</script>