{namespace s=Subugoe\Find\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<f:comment>
	Adds the map to the monastery detaily view with information on the markers
	to set for the current monastery.

	germania-sacra.js will then load other monastery locations close to the current
	one and insert those into the map in case the user wants to explore the region.
</f:comment>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.css"/>
<s:page.linkCSS file="EXT:tmpl_adw/Resources/Public/Css/germaniasacraMap.css"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/leaflet/leaflet.js"></t3jquery:addJQueryAndScript>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_adw/Resources/Public/JavaScript/germaniasacraMap.js"></t3jquery:addJQueryAndScript>

<div id="c-{document.id}-map" class="map"></div>

<script>
	var leafletMap = {};
	var id="c-"+{document.id}+"-map";

	var ID = {s:format.json(data:document.id)};
	var standorte = [];
	var koordinaten, titel, queryURL, institutionengenau, icon, ort, klosterTitel;
	<f:for each="{document.koordinaten}" as="koordinaten" key="indexes" iteration="iter">
		koordinaten = {s:format.json(data:koordinaten)};
		titel = {s:format.json(data:document.kloster)};
		institutionengenau = {s:format.json(data:"{s:data.valueForKey(array:document.koordinaten_institutionengenau, key:indexes)}")};
		icon = {s:format.json(data:"{s:data.valueForKey(array:document.orden_graphik, key:indexes)}")};
		ort = {s:format.json(data:"{s:data.valueForKey(array:document.ort, key:indexes)}")};
		<f:if condition="{iter.total} > 1">
			<f:then>klosterTitel = titel+",<br />Standort "+ort;</f:then>
			<f:else>klosterTitel = titel</f:else>
		</f:if>
		standorte.push({
			koordinaten: koordinaten,
			titel: titel,
			queryURL: queryURL,
			institutionengenau: institutionengenau,
			icon: icon,
			klosterTitel: klosterTitel
		});
	</f:for>

	jQuery(document).bind('tx_find.mapsLoaded', function() {
		leafletMapSmallMap(id);
	});
</script>