{namespace s=Subugoe\Find\ViewHelpers}
<section class="linked-data">
	<h3>Linked Open Data</h3>
	<ul>
		<li><f:link.action action="detail" pageType="1369315139" format="data" arguments="{data-fields: '*',data-format: 'rdf', id: '{arguments.id}'}">RDF/XML</f:link.action></li>
		|
		<li><f:link.action action="detail" pageType="1380124799" format="data" arguments="{data-fields: '*',data-format: 'turtle', id: '{arguments.id}'}">Turtle</f:link.action></li>
		|
		<li><f:link.action action="detail" pageType="1380124799" format="data" arguments="{data-fields: '*',data-format: 'json-ld', id: '{arguments.id}'}">json-ld</f:link.action></li>
	</ul>
</section>
