<footer class="footer">
	<div class="container_16">
		<f:if condition="{TOOLMODE}">
			<f:then>
				<!-- Tool Mode | start -->
				<p>Show tool mode specific footer</p>
				<!-- Tool Mode | end -->
			</f:then>
			<f:else>
				<!-- default | start -->
				<ul class="clearfix">
					<li><f:link.page pageUid="{siteMapId}"><f:translate id="sitemap" /></f:link.page></li>
					<li><f:link.page pageUid="{contactId}"><f:translate id="contact" /></f:link.page></li>
					<li><f:link.page pageUid="{imprintId}"><f:translate id="imprint" /></f:link.page></li>
				</ul>
				<p class="small"><f:translate id="lastchanged" /> <f:cObject typoscriptObjectPath="lib.changedate" /> &copy; <f:cObject typoscriptObjectPath="lib.currentyear" /> <f:translate id="provider" /></p>
				<!-- default | end -->
			</f:else>
		</f:if>
	</div>
</footer>