<!-- ###DOCUMENT### -->
<!-- WRAP -->
###TEST###
<div id="top" class="container_16">
	<!-- TOOLS -->
	<div id ="tools" class="grid_16">
		<!-- TOOLS_LANGUAGE_SWITCH -->
		<div class="grid_3 alpha">###TOOLS_LANGUAGE_SWITCH###</div><!-- TOOLS_LANGUAGE_SWITCH end -->
		<!-- TOOLS_TEXTONLY_SWITCH -->
		<div class="grid_3">###TOOLS_TEXTONLY_SWITCH###</div><!-- TOOLS_TEXTONLY_SWITCH end -->
		<!-- TOOLS_SEARCH_FIELD -->
		<div class="grid_4 omega">###TOOLS_SEARCH_FIELD###</div><!-- TOOLS_SEARCH_FIELD end -->
	</div><!-- TOOLS end -->
	<!-- HEADER -->
	<div class="grid_16">
		<!-- LOGO -->
		<div class="grid_3 alpha">###LOGO###</div><!-- LOGO end -->
		<!-- HEADERWRAP -->
		<div class="grid_13 omega">
			<!-- TITEL -->
			<div class="grid_13">###TITLE###</div><!-- TITLE end -->
			<!-- CLAIM -->
			<div class="grid_13">###CLAIM###</div><!-- CLAIM end -->
		</div><!-- HEADERWRAP end -->
	</div><!-- HEADER end -->
	<!-- CENTER -->
	<div class="grid_16">
		<!-- MENU -->
		<div id="menu" class="grid_3 alpha">###MENU###</div><!-- MENU end -->
		<!-- CONTENTWRAP -->
		<div class="grid_10">
			<!-- ROOTLINE -->
			<div class="grid_10">###ROOTLINE###</div><!-- ROOTLINE end -->
			<!-- CONTENT -->
			<div id="content" class="grid_10">
				###TRANSLATIONNOTE###
				<!-- TYPO3SEARCH_begin -->				
				###CONTENT###
				<!-- TYPO3SEARCH_end -->
			</div><!-- CONTENT end -->
		</div><!-- CONTENTWRAP end -->
		<!-- INFOBOX -->
		<div class="grid_3 omega">###INFOBOX###</div><!-- INFOBOX end -->
	</div><!-- CENTER end -->
	<!-- TOOLS2 -->
	<div id="tools2" class="grid_16">
		<!-- WEBSITELINKS -->
		<div class="grid_8 alpha">###WEBSITELINKS###</div><!-- WEBSITELINKS end-->
		<!-- PAGELINKS -->
		<div class="grid_8 omega">###PAGELINKS###</div><!-- PAGELINKS end -->
	</div><!-- TOOLS2 end -->
	<!-- FOOTER -->
	<div id="footer" class="grid_16">###FOOTER###</div><!-- FOOTER end -->
	<!-- PIWIK -->
	<div id="piwik" class="grid_16">###PIWIK###</div><!-- PIWIK end -->
</div>
<!-- WRAP end -->
<!-- ###DOCUMENT### -->