<div class="top-container" id="top">
	<div class="container_16">
		<!-- breadcrumb -->
		<div class="nav-breadcrumb">
			{ROOTLINE -> f:format.raw()}
		</div>
		<!-- breadcrumb end -->
		<!-- search/language -->
		<div class="search">
			<f:render partial="SearchBox" />
		</div>
		<div class="language">{TOOLS_LANGUAGE_SWITCH -> f:format.raw()}</div>
		<!-- search/language end -->
	</div>
</div><!--! end of top-container -->
<div id="main" role="main" class="main clearfix">
	<div class="container_16">
		<div class="header clearfix">
			<div class="grid_3">
				<!-- logo -->
				<div class="logo">{LOGO -> f:format.raw()}</div>
				<!-- logo end -->
			</div>
			<div class="grid_9 headlines">
				<!-- headline/subline -->
				{TITLE -> f:format.raw()}
				{PAGENAVITITLE -> f:format.raw()}
				{PAGETITLE -> f:format.raw()}
				{PAGESUBTITLE -> f:format.raw()}
				<!-- headline/subline end -->
			</div>
			<div class="grid_4">
				<!-- little teaser -->
				{TEASER -> f:format.raw()}
				<!-- little teaser end -->
			</div>
		</div>
		<div class="content clearfix">
			<div class="grid_3 nav" id="menu">
				<!-- main navi -->
				{MENU -> f:format.raw()}
				<!-- main navi end -->
				{LOGODINI -> f:format.raw()}
			</div>
			<f:if condition="{INFOBOX}">
				<f:then>
					<div class="grid_9">
						{TRANSLATIONNOTE -> f:format.raw()}
						<!-- main content -->
						<!-- TYPO3SEARCH_begin -->
						{CONTENT -> f:format.raw()}
						<!-- TYPO3SEARCH_end -->
						<!-- main content end -->
					</div>
					<div class="grid_4 aside">
						<!-- aside (right) -->
						<hr />
						{INFOBOX -> f:format.raw()}
						<hr />
						<!-- aside (right) end -->
					</div>
				</f:then>
				<f:else>
					<div class="grid_13">
						{TRANSLATIONNOTE -> f:format.raw()}
						<!-- main content -->
						<!-- TYPO3SEARCH_begin -->
						{CONTENT -> f:format.raw()}
						<!-- TYPO3SEARCH_end -->
						<!-- main content end -->
					</div>
				</f:else>
			</f:if>
			<p class="totop"><a class="toplink" href="#top"><f:translate id="linkToTop" /></a></p>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container_16">
		{FOOTERLINKS -> f:format.raw()}
		<p class="small">{FOOTER -> f:format.raw()}</p>
	</div>
</footer>