<!-- ###DOCUMENT### -->
<!-- WRAP -->
###TEST###
<div class="top-container" id="top">
	<div class="container_16">
		<!-- breadcrumb -->
		<div class="nav-breadcrumb">
			###ROOTLINE###
		</div>
		<!-- breadcrumb end -->
		<!-- search/language -->
		<!--<div class="search">###SEARCHLINK###</div>-->
		<div class="search">
			<form class="globalsearch" action="/">
				###SEARCHBOX###
			</form>
		</div>
		<div class="language">###TOOLS_LANGUAGE_SWITCH###</div>
		<!-- search/language end -->
	</div>
</div><!--! end of top-container -->
<div id="main" role="main" class="main clearfix">
	<div class="container_16">
		<div class="header clearfix">
			<div class="grid_3">
				<!-- logo -->
				<div class="logo">###LOGO###</div>
				<!-- logo end -->
			</div>
			<div class="grid_9 headlines">
				<!-- headline/subline -->
				###TITLE###
				###PAGENAVITITLE###
				###PAGETITLE###
				###PAGESUBTITLE###
				<!-- headline/subline end -->
			</div>
			<div class="grid_4">
				<!-- little teaser -->
				###TEASER###
				<!-- little teaser end -->
			</div>
		</div>
		<div class="content clearfix">
			<div class="grid_3 nav" id="menu">
				<!-- main navi -->
				###MENU###
				<!-- main navi end -->
				###LOGODINI###
			</div>
			<div class="grid_13">
				###TRANSLATIONNOTE###
				<!-- main content -->
				<!-- TYPO3SEARCH_begin -->
				###CONTENT###
				<!-- TYPO3SEARCH_end -->
				<!-- main content end -->
			</div>
			<p class="totop"><a class="toplink" href="#top">Zum Seitenanfang</a></p>
		</div>
	</div>
</div> <!--! end of container -->
<div class="footer">
	<div class="container_16">
		<!-- footer -->
		###FOOTERLINKS###
		<p class="small">###FOOTER###</p>
		<!-- footer end -->
	</div>
</div>
<!-- ###DOCUMENT### -->