<!-- ###DOCUMENT### -->
<!-- HEADER -->
<div>
	<!-- HEADERWRAP -->
	<div>
		<!-- TITEL -->
		<div>###TITLE###</div><!-- TITLE end -->
		<!-- CLAIM -->
		<div>###CLAIM###</div><!-- CLAIM end -->
	</div><!-- HEADERWRAP end -->
</div><!-- HEADER end -->
<!-- CENTER -->
<div>
	<!-- CONTENTWRAP -->
	<div>
		<!-- ROOTLINE -->
		<div>###ROOTLINE###</div><!-- ROOTLINE end -->
		<!-- CONTENT -->
		<div id="content">
			<!-- TYPO3SEARCH_begin -->
			###CONTENT###
			<!-- TYPO3SEARCH_end -->
		</div><!-- CONTENT end -->
	</div><!-- CONTENTWRAP end -->
	<!-- INFOBOX -->
	<div>###INFOBOX###</div><!-- INFOBOX end -->
	<div>###FOOTER###</div>
</div><!-- CENTER end -->
<!-- ###DOCUMENT### -->