.nav-breadcrumb {
	ul {
		list-style-type: none;
		height: 39px;
		margin: 0;
		padding: 0;
		width: 840px;
		overflow: hidden;
	}
	li {
		float: left;
		overflow: hidden;
		font-size: 0.813em;
	}
	h2 {
		float: left;
		overflow: hidden;
		font-size: 0.813em;
		color: #fff;
		font: bold 0.813em / 39px Helvetica, Arial, sans-serif;
		height: 39px;
		margin: 0;
		padding: 0 10px;
		width: 89px;
		text-align: right;
	}
	a {
		background: $link-color url($image-path + "breadcrumb-sprite.png") no-repeat 0 -39px;
		color: #fff;
		display: block;
		font-weight: bold;
		height: 39px;
		line-height: 39px;
		margin: 0 -4px 0 0;
		padding: 0 10px 0 25px;
		text-decoration: none;
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	li {
		&.first a {
			background: $link-color url($image-path + "breadcrumb-sprite.png") no-repeat 0 0;
			font-weight: bold;
			height: 23px;
			padding: 8px 10px 8px 15px;
			img {
				margin-top: -20px;
			}
		}
		&.cur a {
			background: $link-color url($image-path + "breadcrumb-sprite.png") no-repeat 0 -78px;
			padding: 0 5px 0 25px;
		}
	}
	&:after {
		content: url($image-path + "breadcrumb-end.png");
		display: block;
		height: 40px;
		width: 160px;
		position: absolute;
		pointer-events: none;
		right: 120px;
		top: 0;
	}
}