$link-color: #c90230;
$image-path: "../Images/";
$fa-font-path: "../Fonts" !default;
$font-default-color: #222;
$image-path: "../Images/";
$button-border-color-light: #d4d4d4;
$button-border-color-dark: #b4b4b4;
$button-color-inactive: #cacaca;
$cluster-color: rgba(244, 151, 57, 0.6);
$cluster-color-ie: rgb(244, 151, 57);