.teaser-logo {
	margin-top: -50px;
}

.tool-mode__pagenav ul {
	margin-top: 0px;
	padding: 15px 15px 0 15px;
	position: absolute;
	z-index: 9999;
	background-color: green;
	display: none;
	background-color: white;
	border: 1px solid grey;
	border-top: none;
	li {
		a {
			color: #282828;
			display: block;
		}
		list-style-type: none;
		padding-bottom: 10px;
		border-bottom: 1px solid #AAAAAA;
		margin: 0;
		margin-bottom: 10px;
	}
	li:last-child {
		border-bottom: none;
		padding-bottom: none;
	}
}

.tool-mode__menubutton {
	display: block;
	width: 100%;
	&:active {
		color: blue;
	}
	color: white;
	height: 39px;
	vertical-align: middle;
	background: none;
	border: none;
}